<style>

    .placeholder{
        color: orange;
    }

    body{
        background: #dddddd;
    }

    header{
        background: #ffffff;
        border-color: #cccccc;
        position: absolute;
        margin-bottom: 20px;
        width: 100%;
        left: 0;
        top: 0;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    content{
        background: #ffffff;
        width: 960px;
        margin: 70 auto;
        padding: 5px;
        display: inline-block;
        margin-top: 70px;
        margin-bottom: 50px;
        margin-left: 25%;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    footer{
        background: #666666;
        color: white;
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: 3px solid #4aaaa5;
        padding: 8px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

    }

    h1{
        color: #4aaaa5;
        margin-bottom: 20px;
        padding: 15px;  
        font-family: 'Georgia', Times, Times New Roman, serif;
        border-bottom: 4px solid #dddddd;
    }

    p{
        color: #777777;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        line-height: 22px;
    }

    ul{
        list-style-type: none;
        margin-top: 20px;
        padding: 0;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    li, a:visited, a:link{
        color: #777777;
        text-align: center;
        display: inline;
        padding: 5px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        text-decoration: none;
    }
    
    input[type=text]{
        width: 960px;
    }

    input[type=submit]{
        background: #4aaaa5;
        color:white;
        padding: 8px;
        margin-top: 10px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    textArea{
        width: 960px;
        height: 200px;
    }

    .myNameBox{
        color: white;
        background: #4aaaa5;
        font-weight: bold;
        font-size: 24px;
        padding: 15px;
        width: 200px;
        left: 0;
        top: 0;
        text-align: center;
        float: left;
        margin-left: 25%;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
    
    .navigationBar{
        color: #777777;
        float: right;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        top: 0;
        right: 0;
        margin-right: 24%;
    }

    .row{
        width: 35%;
        float: left;
        padding: 5px;
        position: relative;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    .rowBar{
        background: #4aaaa5;
        bottom: 5%;
        left: 5;
        color: white;
        padding: 10px;
        width: 52%;
        text-align: center;
        position: absolute;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    #catPic{
        float: left;
        padding-right: 5px;
    }

    @media screen and (max-width: 980px){
        .navigationBar{
            margin-right: 5%
        }

        content{
           width: 60%;
           margin-left: 5%;
        }

        .myNameBox{
            margin-left: 5%;
        }

        input[type=text]{
            width: 100%;
        }

        textArea{
            width: 100%;
        }
    }

    @media screen and (max-width: 768px){
        .navigationBar{
            margin-right: 5%
        }

        content{
           width: 90%;
           margin-left: 5%;
        }

        .myNameBox{
            margin-left: 5%;
        }

        input[type=text]{
            width: 100%;
        }

        textArea{
            width: 100%;
        }
    }

    @media screen and (max-width: 640px){
        content{
           margin-top: 130px;
        }

        .navigationBar{
            float: none;
            clear: both;
            width: 100%;
            text-align: center;
            display: inline-block;
            margin: 0 auto;
        }

        #catPic{
            float: none;
            width: 90%;
            padding: 5px;
        }

        .myNameBox{
            width: 100%;
            margin-left: 0;
        }

        input[type=text]{
            width: 100%;
        }

        textArea{
            width: 100%;
        }
    }
</style>